<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} &mdash; NaomiTerezaSalmon.net</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=arial">
    <meta name="www.NaomiTerezaSalmon.net" content="Naomi Tereza Salmon / NTS Randomizer">
    <meta name="keywords" content="Naomi Tereza Salmon,Naomi,Tereza,Salmon,NTS Randomiter,NTS,Randomizer,NaomiTerezaSalmon,NaomiTerezaSalmon net, art,foto,photo,photographie,music,visual art,video art,installation">
  </head>

<body style="color: white; background-color: rgb(51, 102, 102);" link="white" vlink="white">
<!-- Menu -->
  <table id="Tabelle_01" align="center" border="0" cellpadding="0" cellspacing="0" height="75" width="800">
    <tbody>
      <tr>
        <td rowspan="3"> <a href="/index.html"><img src="/menu/menu_01.gif" alt="" border="0" height="75" width="68"></a></td>
        <td colspan="13"> <img src="/menu/menu_02.gif" alt="" border="0" height="42" width="732"></td>
      </tr>
      <tr>
        <td rowspan="2"> <img src="/menu/menu_03.gif" alt="" border="0" height="33" width="2"></td>
        <td> <a href="/index.html"><img src="/menu/menu_04_b.gif" alt="" border="0" height="21" width="46"></a></td>
        <td rowspan="2"> <img src="/menu/menu_05.gif" alt="" border="0" height="33" width="5"></td>
        <td> <a href="/projects.html"><img src="/menu/menu_06.gif" alt="" border="0" height="21" width="63"></a></td>
        <td rowspan="2"> <img src="/menu/menu_07.gif" alt="" border="0" height="33" width="7"></td>
        <td> <a href="/cv.html"><img src="/menu/menu_08.gif" alt="" border="0" height="21" width="27"></a></td>
        <td rowspan="2"> <img src="/menu/menu_09.gif" alt="" border="0" height="33" width="6"></td>
        <td> <a href="/interviews.html"><img src="/menu/menu_10.gif" alt="" border="0" height="21" width="77"></a></td>
        <td rowspan="2"> <img src="/menu/menu_11.gif" alt="" border="0" height="33" width="6"></td>
        <td> <a href="/contact.html"><img src="/menu/menu_12.gif" alt="" border="0" height="21" width="61"></a></td>
        <td rowspan="2"> <img src="/menu/menu_13.gif" alt="" border="0" height="33" width="5"></td>
        <td> <a href="/links.html"><img src="/menu/menu_14.gif" alt="" border="0" height="21" width="44"></a></td>
        <td rowspan="2"> <img src="/menu/menu_15.gif" alt="" border="0" height="33" width="383"></td>
      </tr>
      <tr>
        <td> <img src="/menu/menu_16.gif" alt="" border="0" height="12" width="46"></td>
        <td> <img src="/menu/menu_17.gif" alt="" border="0" height="12" width="63"></td>
        <td> <img src="/menu/menu_18.gif" alt="" border="0" height="12" width="27"></td>
        <td> <img src="/menu/menu_19.gif" alt="" border="0" height="12" width="77"></td>
        <td> <img src="/menu/menu_20.gif" alt="" border="0" height="12" width="61"></td>
        <td> <img src="/menu/menu_21.gif" alt="" border="0" height="12" width="44"></td>
      </tr>
    </tbody>
  </table>
<!-- End Menu -->

<table align="center" border="0" cellpadding="0" cellspacing="0" width="750">
<tbody>
<tr>
<td><font color="white" face="Arial" size="-1">

  {{ content }}

</font>
</td>
</tr>
</tbody>
</table>
</body></html>
